//CORES
$purple: #7a6ff3;
$white: #fff;

.main{
    display: flex;
    height: 100vh;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.content-login{
    width: 400px;
    height: 450px;
    background-color: $purple;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    header{
        width: 100%;
        display: flex;
        justify-content: center;
    
        h1{
            color: $white;
        }
    }
    .form{
        width: 75%;
        margin-top: 40px;
    }
    
    label{
        color: $white;
    }
    
}

