html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p, span {
    color: #ffffff;
}

h1 {
    margin-top: 100px;
    color: #ffffff;
    font-size: 28px;
}

h2 {
    color: #333333;
    font-size: 22px;
}

input, select, textarea, button {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0px 10px 0px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: transparent;
    color: #000000;
}
.contato input::placeholder,.contato textarea::placeholder{
    color: white;
}
.contato input, .contato textarea{
    color: white;
}

.texto-branco {
    color: #ffffff;
}

.borda-branca {
    border: solid 1px #fff;
    color: white;
}

.borda-preta {
    border: solid 1px #333;
}

button {
    background-color: #69b30a;
    cursor: pointer;
    color: #fff;
}

button:hover {
    background-color: #6ea22c;
}

::placeholder {
    color: #333333;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #333333;
}

::-ms-input-placeholder {
    color: #333333;
}

.topo {
    width: 100%;
    background-color: #13293d;
    position: absolute;
    padding: 15px 0px 15px 0px;
    box-shadow: 0px 2px 10px rgb(0, 183, 255);
    display: block;
}


.logo {
    width: 50px;
    float: left;
    margin-top: 6px;
    margin-left: 40px;
    display: flex;
    justify-items: center;
}

.menu {
    float: right;
    margin-right: 40px;
    
}

.menu li {
    display: flex;
    justify-content: center;
    float: left;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.menu a {
    text-decoration: none;
    padding: 14px 16px;
    color: #fffdfd;
    
}

.menu a:hover {
    color: #69b30a;
    transition: 0.6s;
}


.menu-2 {
    float: left;
    margin-left: 20px;
}

.menu-2 li {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.menu-2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 0px 2px 10px 2px rgb(0, 0, 0);
}

.menu-2 a {
    text-decoration: none;
    padding: 14px 16px;
    color: #012b46;
}

.menu-2 a:hover {
    color: #8aeb0b;
    transition: 0.6s;
}



.conteudo-destaque {
    width: 100%;
    height: 100%;
    min-height: 800px; 
}

.esquerda {
    float:left;
    background-color: #012b46;
    width: 60%;
    height: 100%;
}

.direita {
    float:right;
    background-color: #075d8f;
    width: 40%;
    height: 100%;
}

.informacoes, .contato {
    margin: 100px 40px 40px 40px;
}

.contato-principal {
    margin: 0px 700px 70px 700px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 50px;
    position: absolute;
    
}

.chamada {
    margin-top: 30px;
    margin-left: 20px;
}

.video {
    margin: 40px;
}

.video img {
    max-width: 100%;
    max-height: 100%;
}

.conteudo-pagina {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: url(https://img.freepik.com/free-vector/5g-networking-technology-background-with-blue-digital-line_53876-119505.jpg?w=1380&t=st=1687279155~exp=1687279755~hmac=56dd973f343902747e94cf410ef56d3c8e62d9980cb9f2a400ff109a16f1a6f8);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo-pagina {
    padding: 5px 0px 60px 0px;
    text-align: center;
}
.titulo-pagina-2 {
    padding: 70px 0px 10px 0px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
}

.informacao-pagina {
    text-align: center;
    margin-top: 30px;
    
}

.informacao-pagina p{
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
}
.tabela {
    color: white;
    padding: 25px;
    border-radius: 20px;
    width: 90%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse; /* Para unir as bordas das células */
}

.tabela th, .tabela td {
    padding: 10px; /* Reduzi o padding das células para que a tabela não fique muito espaçada */
    border: 2px solid rgb(255, 255, 255); /* Adicionei uma borda branca para separar as células */
    border-radius: 0px;
    box-shadow:  0px 2px 10px rgb(7, 138, 224);
    
}

.tabela th {
    background-color: #555; 
}

.rodape {
    width: 100%;
    height: 10px;
}

.redes-sociais, .area-contato, .localizacao {
    width: 33.333%;
    border-top:solid 1px #ccc;
    float: left;
    text-align: center;
    background-color: #f8f8f8;
}

.redes-sociais, .area-contato, .localizacao  {
    color: #000000;
    background-color: white;
}

.redes-sociais img {
    margin: 0px 10px 0px 10px;
}
.pagination li {
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
}

.page-item {
    background-color: #ffffff;
    color: rgb(11, 231, 22);
    padding: 8px;
    border-radius: 5px;

}

.pagination ul {
    list-style-type: none;
}


.a-excluir{
    text-decoration: none;
    color: #ffffff;
    padding: 7px;
}
.a-excluir:hover {
    transition: 0.6s;
    color: #ff0000; 
}

.a-excluir-dark{
    text-decoration: none;
    color: #000000;
    padding: 7px;
    
}
.a-excluir-dark:hover {
    transition: 0.6s;
    color: #ff0000; 
}

.a-editar{
    text-decoration: none;
    color: #ffffff;
    padding: 7px;
}
.a-editar:hover {
    transition: 0.6s;
    color: #0e25f3; 
  }
.a-visualizar{
    text-decoration: none;
    color: #ffffff;
    padding: 7px;
}
.a-visualizar:hover {
    transition: 0.6s;
    color: #8aeb0b; 
  }
.a-add{
 text-decoration: none;   
 color: white;
 padding: 7px;
}
.a-add:hover{
    transition: 0.6s;
    color:#88fda1
}

